[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cloudformation-cli-python-plugin = "*"
cloudformation-cli = "*"

[packages]

[requires]
python_version = "3.7"
